/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


/* CSS RESET by midudev (https://github.com/midudev) */
html {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-family: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
  font-family: Arial, Helvetica, sans-serif;
}

input, button, textarea, select {
  font: inherit;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

img, video, svg {
  height: auto;
  max-width: 100%;
}

@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
  }
}
/* CSS VARS */
:root {
  --color-primary: #FBFBFB;
  --color-secondary: #3B3B3B;
  --color-detail: #A29567;
}

/* TEXT STYLES */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold !important;
}

h1 {
  font-size: 2.5rem !important;
  line-height: 2.75rem !important;
}

h2 {
  font-size: 1.875rem !important;
  line-height: 2.25rem !important;
}

h3 {
  font-size: 1.5rem !important;
  line-height: 2rem !important;
}

h4 {
  font-size: 1.25rem !important;
  line-height: 1.75rem !important;
}

h5 {
  font-size: 1.125rem !important;
  line-height: 1.75rem !important;
}

h6 {
  font-size: 1rem !important;
  line-height: 1.5rem !important;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
}

/* GLOBAL STYLES */

body {
  background-color: var(--color-primary);
}

footer {
  color: var(--color-primary);
  background-color: var(--color-secondary);
}

#aside-nav {
  background-color: var(--color-secondary);
  width: 50vw;
  height: 50vh;
}

.colNav {
  display: block;
}

.japanHeader {
  font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.hamburgerMenu {
  width: 100%;
  height: 100dvh;
  z-index: 9999;
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--color-primary);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  overflow-x: auto;
  scrollbar-gutter: stable;
}

.hamOpen {
  visibility: visible;
  opacity: 1 !important;
}



.hamburgerMenu > nav {
  animation: toVisible .4s both ease-in-out;
}

@keyframes toVisible {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

.hamburgerMenu > nav > a {
  font-size: 1.25rem;
  line-height: 1.75rem;
  text-align: center;
  width: 100%;
  font-weight: bold;
}

.profileImg {
  aspect-ratio: 400 / 600;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, .5));
			mask-image: linear-gradient(to bottom, black 80%, transparent 100%)
}

#scrollToTop {
	background-color: var(--color-primary);
	color: var(--color-secondary);
	border-radius: 10px;
	border: 2px solid var(--color-secondary);
	padding: 10px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	cursor: pointer;
	opacity: 0;
	transition: all 0.25s ease-in-out;
}

.scrollToTopActive {
	opacity: 1 !important;
}

.rowNav {
  display: none;
}

.rowNav > div > a {
  font-weight: 600;
  padding: 0.25rem 0.5rem;
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease-in-out;
  &:hover {
    border-bottom: 2px solid var(--color-secondary);
  }
}
/* SLIDER */
.keen-slider {
  width: 90vw !important;
  border-radius: 20px;
}
.sliderWrapper {
  display: flex;
}
.workshopList {
  display: none;
}

@media (min-width: 768px) {
  .keen-slider {
    width: 35vw !important;
  }
  .sliderWrapper {
    display: none;
  }
  .workshopList {
    display: flex;
  }
}
/* MEDIA QUERY SLIDER */
@media (min-width: 768px) {
  #scrollToTop {
    right: 20px; /* For mobile screens */
  }
}
@media (min-width: 1024px) {
  .colNav {
    display: none;
  }

  .rowNav {
    display: block;
  }

  #scrollToTop {
    right: calc((100vw - 75vw) / 2 + 20px); /* For medium screens */
  }
}
@media (min-width: 1280px) {
  #scrollToTop {
    right: calc((100vw - 80vw) / 2 + 20px); /* For large screens */
  }
}
@media (min-width: 1536px) {
}