/* FONTS */
@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "@midudev/tailwind-animations";

/* STATIC FONTS */
@font-face {
  font-family: 'GaretBook';
  src:  url('/fonts/Garet-Book.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GaretBook';
  src:  url('/fonts/Garet-Heavy.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'KickerTrial';
  src:  url('/fonts/KickerTrial-Black.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'KickerTrial';
  src:  url('/fonts/KickerTrial-BlackItallic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'KickerTrial';
  src:  url('/fonts/KickerTrial-BlackSlanted.ttf') format('truetype');
  font-weight: bold;
  font-style: oblique;
}
@font-face {
  font-family: 'KickerTrial';
  src:  url('/fonts/KickerTrial-BlackUpright.ttf') format('truetype');
  font-weight: bold;
  font-style: upright;
}

/* CSS RESET by midudev (https://github.com/midudev) */
html {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100dvh;
  font-family: 'Nunito', sans-serif;
  /* font-family: 'GaretBook', sans-serif; */
  font-weight: bold;
  /* font-family: Arial, Helvetica, sans-serif; */
}

input, button, textarea, select {
  font: inherit;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  /* text-shadow: #2B2B29 0px 0px 0px;   */
  line-height: normal;
  text-wrap: balance;
}

img, video, svg {
  height: auto;
  max-width: 100%;
}

@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
  }
}
/* CSS VARS */
:root {
  --color-primary: #FFFFFF;
  --color-secondary: #2B2B29;
  --color-accent: #55B3B7;
}

/* TEXT STYLES */
.clipPathHashtag {
  clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%);
}
.textShadow {
  text-shadow:
  1px 1px 1px rgba(0, 0, 0, 0.3),
  -1px -1px 1px rgba(0, 0, 0, 0.3),
  1px 1px 2px rgba(0, 0, 0, 0.5),
  -1px -1px 2px rgba(0, 0, 0, 0.5);

}

/* GLOBAL STYLES */

body {
  background-color: var(--color-primary);
}

footer {
  color: var(--color-primary);
  background-color: var(--color-secondary);
}

#aside-nav {
  background-color: var(--color-secondary);
  width: 50vw;
  height: 50vh;
}

/* .textStrokeSecondary {
  -webkit-text-stroke: 1px var(--color-secondary);
}
.textStrokePrimary {
  -webkit-text-stroke: 1px var(--color-primary);
} */

.headerContainer {
    background-image: url('/img/test-pic-header.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
}

.colNav {
  display: block;
}

.japanHeader {
  font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.hamburgerMenu {
  width: 100%;
  height: 100dvh;
  z-index: 9999;
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--color-secondary);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  overflow-x: auto;
  scrollbar-gutter: stable;
}

.hamOpen {
  visibility: visible;
  opacity: 1 !important;
}

.hamburgerMenu > nav {
  animation: toVisible .4s both ease-in-out;
}

@keyframes toVisible {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

.hamburgerMenu > nav > a {
  font-size: 1.25rem;
  text-align: center;
  width: 100%;
  font-weight: bold;
}

header {
	min-width: 100%;
	animation: header-animation 1s linear both;
	animation-timeline: scroll();
	animation-range: 0 25px;
}
@keyframes header-animation {
	0% {
    background: transparent;
	}

	100% {
    background: var(--color-secondary);
		box-shadow: 0 -10px 20px rgb(0, 0, 0); 
	}
} 

.profileImg {
  aspect-ratio: 400 / 600;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, .5));
			mask-image: linear-gradient(to bottom, black 80%, transparent 100%)
}

.headerScroll {
  background-color: var(--color-secondary);
}

#scrollToTop {
  z-index: 9999;
	background-color: var(--color-primary);
	color: var(--color-secondary);
	border-radius: 10px;
	border: 2px solid var(--color-secondary);
	padding: 10px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	cursor: pointer;
	opacity: 0;
	transition: all 0.25s ease-in-out;
}

.scrollToTopActive {
	opacity: 1 !important;
}
.goToPlansVisible {
	opacity: 1 !important;
}

.rowNav {
  display: none;
}

/* SLIDER */
.arrow {
  border-radius: 100%;
  min-width: 24px;
  width: 24px;
  height: 24px;
  fill: var(--color-primary);
  cursor: pointer;
}

.arrow--disabled {
  fill: var(--color-primary);
  opacity: 0.5;
  /* fill: rgba(255, 255, 255, 0.5); */
}

.dots {
  display: flex;
  justify-content: center;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: var(--color-primary);
  opacity: 0.5;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot.active {
  background: var(--color-primary);
  opacity: 1;
}

.keen-slider {
  width: 100% !important;
  border-radius: 20px;
}
.sliderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.workshopList {
  display: none;
}

/* SCROLL APPEARANCE ANIMATION */
.scrollAppear {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .keen-slider {
    width: 35vw !important;
  }
  .sliderWrapper {
    display: none;
  }
  .workshopList {
    display: flex;
  }
}
/* MEDIA QUERY SLIDER */
@media (min-width: 768px) {
  #scrollToTop {
    right: 20px; /* For mobile screens */
  }
}
@media (min-width: 1024px) {
  .colNav {
    display: none;
  }

  .rowNav {
    font-size: 20px;
    text-transform: uppercase;
    display: block;
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
  }

  #scrollToTop {
    right: calc((100vw - 75vw) / 2 + 20px); /* For medium screens */
  }
}
@media (min-width: 1280px) {
  #scrollToTop {
    right: calc((100vw - 80vw) / 2 + 20px); /* For large screens */
  }
}
@media (min-width: 1536px) {
}