@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS RESET by midudev (https://github.com/midudev) */
html {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-family: 'Poppins', sans-serif;
}
* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
}

input, button, textarea, select {
  font: inherit;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

img, video, svg {
  height: auto;
  max-width: 100%;
}

@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
  }
}
/* CSS VARS */
:root {
  --color-primary: #FBFBFB;
  --color-secondary: #3B3B3B;
  --color-detail: #A29567;
}
/* TEXT STYLES */
h1 {
  font-size: 2.25rem;
  line-height: 2.5rem;
}
h2 {
  font-size: 1.875rem;
  line-height: 2.25rem;
}
h3 {
  font-size: 1.5rem;
  line-height: 2rem;
}
h4 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
h5 {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
h6 {
  font-size: 1rem;
  line-height: 1.5rem;
}
p {
  font-size: 1rem;
  line-height: 1.5rem;
}
/* GLOBAL STYLES */
body {
  background-color: var(--color-primary);
}
footer {
  color: var(--color-primary);
  background-color: var(--color-secondary);
}
#aside-nav {
  background-color: var(--color-secondary);
  width: 50vw;
  height: 50vh;
}
.colNav {
  display: block;
}
.hamburgerMenu > nav > a {
  font-weight: 600;
  padding: 0.25rem;
  border-bottom: 2px solid var(--color-detail);
}
.profileImg {
  aspect-ratio: 400 / 600;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, .5));
			mask-image: linear-gradient(to bottom, black 80%, transparent 100%)
}

.rowNav {
  display: none;
}
.rowNav > div > a {
  font-weight: 600;
  padding: 0.25rem 0.5rem;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  &:hover {
    color: var(--color-primary);
    background-color: var(--color-detail);
  }
}
/* MEDIA QUERIES */
@media (min-width: 768px) {
}
@media (min-width: 1024px) {
  .colNav {
    display: none;
  }
  .rowNav {
    display: block;
  }
}
@media (min-width: 1280px) {
}
@media (min-width: 1536px) {
}